
* {margin: 0; padding: 0}
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mx_center {
    margin-left: auto;
    margin-right: auto;
}

.mx_width {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.mx_navigation {
    width: 100%;
}

.mx_navigation .navbar {
    border-radius: 0;
    margin-bottom: 0;
    min-height: 80px;
}

.mx_navigation .navbar-default {
    background: none;
    border: none;
}

.mx_navigation .navbar-default .navbar-toggle .icon-bar {
    background: #2dae36;
}

.mx_navigation .navbar-brand {
    width: 280px;
    background: url(../images/logo0.png) center no-repeat;
    height: 80px;
    padding: 8px;
}

.mx_navigation .navbar-brand img {
    height: 100%;
}

.mx_navigation .collapse {
    line-height: 50px;
}
 .navbar-default .navbar-toggle:hover{
    background-color: #2DAE36 !important;
}
.mx_navigation .navbar-toggle {
    margin-top: 22px;
    border-color: #2dae36 !important;
}

.mx_navigation .navbar-toggle:hover {
    border-color: white;
    background-color: #2dae36;
}

.mx_navigation .navbar-collapse {
    padding: 0;
}

.mx_navigation .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: white;
}

.mx_navigation .navbar-nav {
    margin-right: -60px;
}

.mx_navigation .navbar-nav>li>a {
    line-height: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

.mx_navigation .navbar-nav>li:hover>a {
    color: #2dae36 !important;
    border-bottom: 2px solid #2dae36;
}

.mx_navigation .navbar-nav .select>a {
    color: #2dae36 !important;
    border-bottom: 2px solid #2dae36 !important;
}

/* 不变部分结束 */

/* 改变部分开始 */

/* 首页部分开始 */

.carousel>.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel>.carousel-control.right {
    left: auto;
    right: 0;
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.contain-center {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.contain-center>h3 {
    margin-top: 30px;
    margin-bottom: 60px;
}
.carousel-indicators>li{
    background-color: #2DAE36;
}
.contain-center>.row>.col-md-3>h3 {
    color: #2DAE36;
}

.contain-center>.row>.col-md-3 img {
    width: 30%;
    height: 30%;
}

.contain-center>.row>.col-md-3 p {
    color: #777;
}

.contain-bottom {
    width: 80%;
    margin: 60px auto 0 auto;
}

.contain-bottom>span {
    text-align: center;
    display: block;
    width: 120px;
    line-height: 42px;
    color: #FFF;
    font-size: 20px;
    background: #2DAE36;
    border-radius: 18px 0;
}

.contain-bottom>hr {
    border: none;
    height: 1px;
    background-color: #2DAE36;
    position: relative;
    top: -20px
}

.contain-bottom>.row div {
    margin-bottom: 30px;
}

.contain-bottom>.row div img {
    width: 100%;
    height: 100%;
}

/* 首页部分结束 */

/* 关于部分开始 */

.about-company {
    width: 100%;
    display: none;
}

.about-company-top>img {
    width: 100%;
    height: 50%;
}

.about-company-center{
    width: 80%;
    margin: 30px auto 0;
    height: auto;
}

.about-company-center>span {
    text-align: center;
    display: block;
    width: 120px;
    line-height: 42px;
    color: #FFF;
    font-size: 20px;
    background: #2DAE36;
    border-radius: 18px 0;
}

.about-company-center>hr {
    border: none;
    height: 1px;
    background-color: #2DAE36;
    position: relative;
    top: -20px
}

.about-company-bottom{
    width: 80%;
    margin: 0 auto 60px;
}

.about-company-bottom>.row{
    width: 100%;
    height: 100%;
    margin: 0;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
}

.about-company-bottom>.row>div:last-child>p {
    text-indent: 2em;
    color: #666;
    margin-bottom: 20px;
    padding-left: 15px;
}

.about-company-bottom>.row>div:last-child>p span {
    color: #2DAE36;
}

/* 关于部分结束 */

/* 展示部分开始 */

/* 招商部分结束 */
/* 不变部分开始 */

.footer {
    padding-top: 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #ddd;
    text-align: center;
    color: #666;
}

.footer .footer_logo {
    margin-bottom: 16px;
}

.footer .footer_logo img {
    width: 100px;
}

.footer a {
    color: #777;
    text-align: center;
    text-decoration: none;
}

.footer .changepage {
    padding-top: 20px;
}

.footer a:hover {
    color: #2dae36;
    text-decoration: none;
}

.footer .copyright {
    font-size: 12px;
    text-align: center;
    line-height: 2.4em;
}

.footer .contact {
    font-size: 10px;
    line-height: 1.6em;
    text-align: center;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
    content: "\e630";
}

.icon-icon-p_xinfeng:before {
    content: "\e68b";
}

.icon-weibiaoti-:before {
    content: "\e618";
}

@media (max-width: 768px) {
    .mx_navigation .navbar-brand {
        width: 80px;
        background: url(../images/logo1.png) center no-repeat;
        background-size: contain;
        height: 80px;
        padding: 8px;
    }
    .mx_navigation .navbar-nav {
        margin-right: 0;
    }
    .mx_navigation .navbar-nav>li>a {
        line-height: 36px;
        margin-left: 15px;
    }
    .mx_navigation .navbar-nav>li:hover>a {
        border-bottom: 0.5px solid #2dae36;
    }
    .mx_navigation .navbar-nav .select>a {
        color: #2dae36;
        border-bottom: 0.5px solid #2dae36;
    }
    .footer {
        text-align: left;
    }
    .footer a {
        position: relative;
        left: 50px;
        text-align: left;
        line-height: 2em;
    }
    .footer .changepage {
        padding-top: 0px;
    }
    .footer .footer_logo {
        padding-top: 0px;
        margin-bottom: 8px;
    }
    .footer .copyright {
        position: relative;
        left: 50px;
        text-align: left;
    }
    .footer .contact {
        position: relative;
        left: 50px;
        text-align: left;
    }

    .product-show-bottom>.images>.row>div{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .footer .contact {
        text-align: left;
    }
}

@media (max-width:992px) and (min-width:768px){
    /* .about-company-bottom-warp {
        height: 970px;
    } */
    /* .about-company-bottom-warp>#map {
        width: 90%;
        margin: 0 auto 20px auto;
        height: 400px;
    } */

    .product-show-bottom>.images>.row>div{
        width: 50%;
    }
    .product-show-bottom>.product-show-bottom-list>ul{
        height: 85px;
    }
}